* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  background-color: #000122;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading div {
  position: absolute;
}

.glass {
  height: 200px;
  width: 200px;
  background-color: #ffffff13;
  z-index: 3;
  backdrop-filter: blur(10px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.box {
  background-color: tomato;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  animation: rotation 3s ease-in-out infinite;
  -webkit-animation: rotation 3s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: translateX(-250px) rotate(0deg);
    -webkit-transform: translateX(-250px) rotate(0deg);
    -moz-transform: translateX(-250px) rotate(0deg);
    -ms-transform: translateX(-250px) rotate(0deg);
    -o-transform: translateX(-250px) rotate(0deg);
    z-index: 1;
  }

  50% {
    transform: translateX(250px) rotate(180deg);
    -webkit-transform: translateX(250px) rotate(180deg);
    -moz-transform: translateX(250px) rotate(180deg);
    -ms-transform: translateX(250px) rotate(180deg);
    -o-transform: translateX(250px) rotate(180deg);
  }

  100% {
    transform: translateX(-250px) rotate(360deg);
    -webkit-transform: translateX(-250px) rotate(360deg);
    -moz-transform: translateX(-250px) rotate(360deg);
    -ms-transform: translateX(-250px) rotate(360deg);
    -o-transform: translateX(-250px) rotate(360deg);
    z-index: 6;
  }
}
